.input {
  border-radius: 6px;
  width: 500px;
  height: 100%;
  border: none;
  outline: none;
  background-image: url('../../icons/search.svg');
  background-repeat: no-repeat;
  background-position: 19px;
  padding-left: 44px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 1000px) {
  .input {
    width: auto;
  }
}
