@import '../../styles/vars.scss';

.profile {
  font-family: 'Inter';

  a {
    color: $blue;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
  }
}

.profile__avatar {
  border-radius: 50%;
  width: 280px;
  margin-bottom: 29px;
}

.profile__name {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 12px;
}

.follow {
  display: flex;
  margin-top: 25px;
  font-size: 16px;

  div {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  span {
    margin-left: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

@media (max-width: 1000px) {
  .profile {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
