@import '../../styles/vars.scss';

.card {
  border-radius: 6px;
  background: #fff;
  margin-bottom: 24px;
  padding: 24px 32px;
}
.card__title {
  color: $blue;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.card__description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
