@import '../../styles/vars.scss';

.nav {
  display: flex;
  align-items: center;
  background: $blue;
  height: 72px;
}

.nav__content {
  display: flex;
  margin: 16px 0 16px 41px;
}

.nav__logo {
  margin-right: 22px;
}

@media (max-width: 480px) {
  .nav {
    width: 100%;
  }
  .nav__content {
    margin: 0 10px;
    width: 100%;
  }
}
